.username
{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.password
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body
{
  font-family: 'Source Code Pro';
}

.flatBar
{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.flatBar
{
    border-radius: 0 !important;
}


