<!DOCTYPE html>
<html ng-app="webTool">
	<head>

	 		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/javascript.js"></script>
		<title>WebTool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
		<link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.css">
		<link rel="stylesheet" href="style.css"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>						
 		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 		<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
 		<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
 		<script src="core.js"></script>-->


	</head>

	<body ng-controller="mainController">
		<!-- create mac address form, keep hidden -->
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> Powershell </a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li><a ng-click="showMac()" href="#">Enter a Mac Address</a></li>
					<!--<li><a ng-click="showQuery()" href="#">Query AD</a></li>
					<li><a ng-click="showConsole()" href="#">Console</a></li>-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active" ng-init="startTime()"><a id="clock" href="#"></a></li>
				</ul>
			</div>
		</div>
	<!--	
		<div class="modal" id="passDialog" style="display: none;" style="border-radius: 0px">
		  <div class="modal-dialog" style="border-radius: 0px">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">x</button>
		        <h4 class="modal-title">Enter TSD Workstation Password</h4>
		      </div>
		      <div class="modal-body">
		        <input class="form-control" ng-init="focusInput" ng-keydown="doTheOtherThing($event, $index)" type="password" style="border-radius: 0px" id="authText" placeholder="password" />
		      </div>
		      <div class="modal-footer">
		        <button type="button" style="border-radius: 0px" class="btn btn-default" ng-click="dismiss()">Close</button>
		        <button type="button" style="border-radius: 0px" class="btn btn-primary" ng-click="postName()">Submit</button>

		      </div>
		    </div>
		  </div>
		</div>
-->
		<div class="container" style="border-radius: 0px;">
			<div class="row" style="border-radius: 0px">
				<div class="col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-4 col-md-4 well" id="macaddr" style="border-radius: 0px; margin-top: 0%;">
					<div class="navbar navbar-inverse navbar-window">
						<div class="navbar-header">
							<a class="navbar-brand"> Mac Address Tool </a>
						</div>
						<div class="navbar-collapse collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a id="exitMac" ng-click="hide('macaddr')" href="#">X</a></li>
							</ul>
						</div>
					</div>
					<!--<a ng-click="addPrefix()" class="btn btn-default btn-sm" style="border-radius: 0px" id="prefix">Add Prefix</a> -->
						<!-- FORM TO CREATE ADDRESSES -->
						<!-- prefix <button class="btn btn-primary btn-xs" ng-click="addPrefix()" type="button" style="float: left">prefix</button> -->
						<div ng-repeat="address in addresses track by $index">
							<div class="form-group"  ng-paste="checkAddress(address, $event, $index)">
								<div class="input-group">
									<input class="form-control" ng-keydown="checkAddress(address, $event, $index)" ng-keyup="checkAddress(address, $event, $index)" ng-class="{'has-success': address.added == true, 'has-error': address.valid == false && address.added == false, 'has-warning': address.added == false && address.valid == true}"  ng-model="$parent.addresses[$index].address" ng-init="focusInput(address)" placeholder="mac address"  type="text" />
									<span class="input-group-btn" ng-class="{'has-success': address.added == true, 'has-error': address.valid == false && address.added == false, 'has-warning': address.added == false && address.valid == true}">
										<button class="btn btn-primary" ng-click="removeAddress(address, $event, $index)" type="button">del</button>
									</span>
								</div>
								<div class="panel drop-return" ng-class="{'panel-danger has-error': address.valid == false && address.added == false, 'panel-success has-success': address.added == true, 'panel-warning has-warning': address.valid == true && address.added == false}" style="display: none" id="dropReturn">
									<div class="panel-heading">
										<h3 class="panel-title"  ng-bind="address.note"></h3>
									</div>
								</div>
							</div>
						</div>
					<div class="btn-group btn-group-justified">
						<a ng-click="addAddress('')" class="btn btn-primary" style="border-radius: 0px; margin: 5px; border-spacing:5px;">Add</a>
						<a ng-click="createAddresses()" class="btn btn-primary" style="border-radius: 0px; margin: 5px; border-spacing:5px;">Submit</a>
					</div>
				</div>
			</div>
		</div>

		<div id="queryDB" style="display: none">
			<div class="container" style="border-radius: 0px;">
				<div class="row" style="border-radius: 0px">
					<div class="col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-4 col-md-4 well" style="border-radius: 0px; margin-top:2%;" id="queryForm">
						<div class="navbar navbar-inverse navbar-window">
							<div class="navbar-header">
								<a class="navbar-brand"> Query Active Directory </a>
							</div>
							<div class="navbar-collapse collapse navbar-responsive-collapse">
								<ul class="nav navbar-nav navbar-right">
									<li class="active"><a id="exitAD" ng-click="hide('queryDB')" href="#">X</a></li>
								</ul>
							</div>
						</div>
						<div ng-repeat="userName in users track by $index">
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" ng-keydown="doTheThing($event, $index)" ng-model="$parent.users[$index].userName" ng-init="focusInput(user)" placeholder="Enter a username here..." style="width: 100%" id="uName" type="text" />
									<div class="btn-group btn-group-justified">
										<a ng-click="showPass()" class="btn btn-primary" style="border-radius: 0px; margin: 5px; border-spacing:5px;">Submit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="jumbotron" id="displayProps" style="display: none">
					<h1>{{userProps.Name}}</h1>
					<p>User email address: {{userProps.EmailAddress}}.</p>
					<p>Last 4 of user's SSN: {{userProps.PSDssn}}.</p>
					<p>Account created: {{userProps.whenCreated}}.</p>
					<p>Account enabled? {{userProps.Enabled}}.</p>
					<p>Account has default password? {{userProps.HasDefaultPassword}}.
					<p>Password Expired? {{userProps.PasswordExpired}}.</p>
					<p>Password for this user was last attempted incorrectly at: {{userProps.LastBadPasswordAttempt}}.</p>
					<p>User successfully logged in last at: {{userProps.LastLogonDate}}.</p>
					<p>Password was set last at: {{userProps.PasswordLastSet}}.</p>
					<p>Groups that the user belongs to: {{userProps.MemberOf}}</p>
					<p><a class="btn btn-primary btn-lg" ng-click="closeReturn()">Close</a></p>
				</div>
			</div>
		</div>

		<div id="console" style="display: none">
			<div class="container" style="border-radius: 0px;">
				<div class="row" style="border-radius: 0px">
					<div class="col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-4 col-md-4 well" style="border-radius: 0px; margin-top:2%;" id="consoleLog">
						<div class="navbar navbar-inverse navbar-window">
							<div class="navbar-header">
								<a class="navbar-brand"> PowershellAPI Host Console </a>
							</div>
							<div class="navbar-collapse collapse navbar-responsive-collapse">
								<ul class="nav navbar-nav navbar-right">
									<li class="active"><a id="exitAD" ng-click="hide('console')" href="#">X</a></li>
								</ul>
							</div>
						</div>
						<p id="con"></p>
					</div>
				</div>
			</div>
		</div>

		<div id="followingBallsG" style="display: none; margin-right: auto; margin-left: auto;">
			<div id="followingBallsG_1" class="followingBallsG">
			</div>
			<div id="followingBallsG_2" class="followingBallsG">
			</div>
			<div id="followingBallsG_3" class="followingBallsG">
			</div>
			<div id="followingBallsG_4" class="followingBallsG">
			</div>
		</div>
		<!--<a class="btn btn-primary btn-xs" ng-click="" type="button" href="/w" style="position: absolute; right: 0; bottom: 0">Content too dark?</a>-->
	</body>
</html>